<div class="column gap-1 wrapperCard">
    <div 
        class="card imageUrl animated" 
        [ngStyle]="{'background-image': 'url(' + card.imageUrl + ')'}"
        (click)="openModal()"
    ></div>
    <style class="hover"></style>

    <h2 class="title">{{card.title}}</h2>

    <div class="row gap-1">
        <span class="price-label">Valor de mercado:</span>
        <span class="price">R${{card.price}}</span>
    </div>

    <div class="flex column">
        <p>Raridade:</p>
        <div class="flex space-between items-center gap-15 flex-col-sm">
            <p-rating [(ngModel)]="card.rarity" stars="5" [readonly]="true" iconCancelClass="hidden">
                <ng-template  pTemplate="onicon">
                    <img 
                        class="rating"
                        src="onicon.png" 
                        width="25px" 
                        height="25px" />
                </ng-template>
                <ng-template pTemplate="officon">
                    <img 
                        class="rating"
                        src="officon.png"
                        width="25px"
                        height="25px" />
                </ng-template>
            </p-rating>
    
            <div class="row gap-5" *ngIf="currentUserId === card.userId">
                <button type="button" pButton class="button-edit" 
                    (click)="editCard()" class="editbutton">
                    Editar
                </button>
                <button type="button" pButton class="button-delete"
                    (click)="confirmDelete()" class="deletebutton" #deleteButton>
                    Excluir
                </button>
            </div>
        </div>
    </div>

    <div class="modal" *ngIf="isModalOpen" (click)="closeModal()">
        <div (click)="closeModal()" class="absolute cursor-pointer">
            <img width="36" height="36" src="close.svg" alt="Fechar" />
        </div>

        <div class="modal-content relative" (click)="$event.stopPropagation()">
            <img [src]="card.imageUrl" [alt]="card.title" 
                class="imageUrlModal" 
            />
        </div>
    </div>
</div>

<p-confirmPopup></p-confirmPopup>