footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mt-4 {
    margin-top: 1rem;
}

.w-80 {
    width: 80px;
}

.h-80 {
    height: 80px;
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-xs {
    font-size: 12px;
    line-height: 1rem;
}


.flex-1 {
    flex: 1 1 0%;
}

.gap-y-2 {
    row-gap: 8px;
}

.text-sm {
    font-size: 14px;
    line-height: 1.25rem;
}

.text-center {
    text-align: center;
}

footer:first-of-type {
    padding-top: 1.25rem;
    padding-bottom: 0.5rem;
    border-top: 2px solid #F0F0F0;
}

.logo {
    height: 100%;
    object-fit: contain;
    height: 32px;
    margin-right: auto;
}

@media (min-width: 1536px) {
    .\32xl\:gap-y-0 {
        row-gap: 0px;
    }
}

@media (max-width: 640px) {
    .sm\:w-80 {
        width: 50px;
    }
    .sm\:h-80 {
        height: 50px;
    }
    .text-sm {
        font-size: 11px;
    }
    .text-xs {
        font-size: 10px;
    }
}