

<footer className='py-8'>
    <div class="flex text-sm cursor-pointer font-semibold gap-2 flex-wrap justify-center">
        <a href="" class="link">SOBRE NÓS</a>
        <a href="" class="link">AJUDE-NOS A MELHORAR</a>
        <a href="" class="link">SUPORTE</a>
        <a href="https://www.tcgplayer.com/" target="_blank" class="link">VISITE O SITE TGPLAYER.COM</a>
    </div>
</footer>
<footer class='py-5'>
    <div class='flex flex-col items-center'>

        <a href="/">
            <img src="logo.png" alt="Riot Logo" 
            class="w-80 h-80 mb-6 cursor-pointer sm:w-80 sm:h-80"
            >
        </a>
        <div class="flex flex-1 justify-center wrap">
            <span class='text-gray-600 text-xs text-center'>™ & © 2024 PokéVault, Inc. Todos os direitos reservados. Pokémon e TCG Pokémon são marcas registradas e marcas de serviço da The Pokémon Company, Inc.</span>
        </div>

    </div>
</footer>

