

<footer className='py-8'>
    <div className="flex flex-1 justify-center flex-wrap gap-y-2 2xl:gap-y-0">
        <div class="flex text-sm cursor-pointer font-semibold gap-2 flex-wrap justify-center">
            <a href="" class="link">SOBRE NÓS</a>
            <a href="" class="link">AJUDE-NOS A MELHORAR</a>
            <a href="" class="link">SUPORTE</a>
            <a href="https://www.tcgplayer.com/" target="_blank" class="link">VISITE O SITE TGPLAYER.COM</a>
        </div>
    </div>
</footer>
<footer class='py-5'>
    <div class='flex flex-col items-center'>

        <img src="logo.png" alt="Riot Logo" 
            class="w-100 h-100 mb-6 cursor-pointer sm:w-80 sm:h-80"
        >
        <div class="flex flex-1 justify-center wrap">
            <span class='text-gray-600 text-xs text-center'>™ & © 2024 PokéVault, Inc. Todos os direitos reservados. Pokémon e TCG Pokémon são marcas registradas e marcas de serviço da The Pokémon Company, Inc.</span>
        </div>

    </div>
</footer>

