@font-face {
    font-family: 'Futura Std';
    src: url('../public/fonts/Futura-Std-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std';
    src: url('../public/fonts/Futura-Std-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std';
    src: url('../public/fonts/Futura-Std-Heavy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html, body, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: 'Futura Std', sans-serif;
    box-sizing: border-box;
}

html, body, app-root {
    height: 100%;
    width: 100dvw;
    overflow-x: hidden;
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: inherit;
    font: inherit;
    width: 100%;
}

button,
input[type="button"],
input[type="submit"] {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  width: 100%;
}

app-root {
    display: flex;
    flex-direction: column;
}

.screen-max-width {
    margin-inline-start: auto;
    margin-inline-end: auto;
    position: relative;
    max-width: 1400px;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.mt-15 {
    margin-top: 15px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-15 {
    margin-bottom: 15;
}

.mb-25 {
    margin-bottom: 25;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.full-center {
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.flex-col {
    flex-direction: column;
}

.cursor-pointer {
    cursor: pointer;
}

.font-semibold {
    font-weight: 600;
}

.link {
    outline: none;
    color: #1A1A1A;
    text-decoration: none;
}

.link:active {
    text-decoration: none;
    color: #1A1A1A;
}

.link:hover {
    color: #555555;
}