<div class="gap-1">
    <div class="filter-buttons">
        <button (click)="onFilterChange('older')" [ngClass]="{'active': activeFilter === 'older'}">Mais antigos</button>
        <button (click)="onFilterChange('recent')" [ngClass]="{'active': activeFilter === 'recent'}">Adicionados recentemente</button>
        <button (click)="onFilterChange('alphabetical')" [ngClass]="{'active': activeFilter === 'alphabetical'}">Alfabética</button>
        <button (click)="onFilterChange('lowPrice')" [ngClass]="{'active': activeFilter === 'lowPrice'}">Menor valor</button>
        <button (click)="onFilterChange('highPrice')" [ngClass]="{'active': activeFilter === 'highPrice'}">Maior valor</button>
    </div>

    <div class="cards gap-1 space-between">
        <app-card class="flex justify-center border" 
            *ngFor="let card of filteredCards" [card]="card">
        </app-card>
    </div>

    <p-paginator [rows]="rows" [totalRecords]="totalRecords" 
    [rowsPerPageOptions]="getDynamicRowsPerPageOptions()"
    (onPageChange)="onPageChange($event)">
    </p-paginator>
</div>