.cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.border {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.p-element {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.filter-buttons {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;

    button {
        background-color: #f9f9f9;
        color: #ffcc01;
        text-shadow: 1px 1px 0px #345197, -1px -1px 0px #345197, 1px -1px 0px #345197, -1px 1px 0px #345197;
        font-weight: 700;
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        &.active {
            background-color: #ffcc01;
            color: white;
            text-shadow: 1px 1px 0px #345197, -1px -1px 0px #345197, 1px -1px 0px #345197, -1px 1px 0px #345197;
        }
    }

    button:hover {
        background-color: rgb(255 204 1 / 0.7);
    }
}

@media (min-width: 640px) {
    .filter-buttons {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .filter-buttons {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 640px) {
    .cards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .cards {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}