.cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.border {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.p-element {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.filter-buttons {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;

    button {
        appearance: button;
        background-color: #345197;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: .8px;
        line-height: 20px;
        margin: 0;
        outline: none;
        overflow: visible;
        padding: 13px 16px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s, background-color .2s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;

        &.active {
            background-color: #3b5273;
            color: white;
            text-shadow: none;
        }
    }

    button:hover {
        background-color: #4b6b99;
    }

    button:after {
        background-clip: padding-box;
        background-color: #678acb;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        bottom: -4px;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        transition: background-color 0.2s ease;
    }

    button:hover:after {
        background-color: #a1b9e8;
    }

    button.active:after {
        background-color: #4b6b99;
    }

    button.active:hover:after {
        background-color: #5a7dbf;
    }

    button:focus {
        user-select: auto;
    }
}

.add-card-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    border-radius: 8px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;

    i {
        font-weight: 700;
        font-size: 14px;
    }
}

@media (min-width: 640px) {
    .filter-buttons {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 876px) {
    .filter-buttons {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1165px) {
    .filter-buttons {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 1455px) {
    .filter-buttons {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}



@media (min-width: 640px) {
    .cards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .cards {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}